@page
@model IndexModel
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
<div id="container">

    <div class="checkbox-list">
        @foreach (Movie movie in Model.Movies)
        {
            <div class="movie-entry">
                <h4>
                    @movie.Title
                    <smaller>
                        ( @(@movie.MPAA_Rating == null ? "Not Rated" : @movie.MPAA_Rating) )
                    </smaller>
                </h4>
                <i>@movie.Major_Genre</i>
                <div class="ratings">
                    <div class="rotten-tomatoes-rating">
                        Rotten Tomatoes:
                        @(@movie.Rotten_Tomatoes_Rating == null ? "No rating" : (@movie.Rotten_Tomatoes_Rating).ToString())
                    </div>
                    <div class="imdb-rating">
                        IMDB: @(@movie.IMDB_Rating == null ? "No rating" : @movie.IMDB_Rating.ToString())
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="checkbox-list">
        <form method="post">
            <input type="text" name="Search" id="search" value="@Model.Search"/>
            <input type="submit" value="Search and Filter" />
            <input type="reset" value="Clear" />

            <h2> MPAA Rating</h2>
            <label>
                <input type="checkbox" name="Rating" value="G" checked="@Model.Rating.Contains("G")" />
                Rated G
            </label>
            <label>
                <input type="checkbox" name="Rating" value="PG" checked="@Model.Rating.Contains("PG")" />
                Rated PG
            </label>
            <label>
                <input type="checkbox" name="Rating" value="PG-13" checked="@Model.Rating.Contains("PG-13")" />
                Rated PG-13
            </label>
            <label>
                <input type="checkbox" name="Rating" value="R" checked="@Model.Rating.Contains("R")" />
                Rated R
            </label>
            <label>
                <input type="checkbox" name="Rating" value="NC-17" checked="@Model.Rating.Contains("NC-17")" />
                Rated NC-17
            </label>

            <h4>Review Scores</h4>
            <label>
                Minimum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="MinIMDB" value="@Model.MinIMDB"/>
            </label>
            <label>
                Maximum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="MaxIMDB" value="@Model.MaxIMDB"/>
            </label>



        </form>
    </div>
</div>